* {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
#game,
#game1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#controls {
  display: flex;
  margin: 20px;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
input {
  width: 3rem;
  line-height: 2.1rem;
  border: 2px solid #007bff;
  border-radius: 5px;
}
#field {
  border-collapse: collapse;
  background-color: #fff;
  /* table-layout: fixed; */
}
.field {
  border-collapse: collapse;
  background-color: #fff;
}
.game-table-cell {
  width: 15px;
  height: 15px;
  min-width: 5px;
  min-height: 5px;
  border: 1px dotted #9b9b9b;
  aspect-ratio: 1/1;
}
.cell-life {
  background-color: red;
  border-radius: 50%;
}
.button-group {
  display: flex;
  gap: 10px;
}

input[type="radio"] {
  display: none;
}

.button {
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: white;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input[type="radio"]:checked + .button {
  background-color: #007bff;
  color: white;
}

.button:hover {
  background-color: #0056b3;
  color: white;
}
